<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.nganchang.chang"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chang"
        android:windowSplashScreenAnimatedIcon="@mipmap/ic_launcher"
        android:windowSplashScreenIconBackgroundColor="@android:color/white"
        tools:targetApi="31">

        <!-- ✅ หน้า Login เป็นหน้าแรก -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ หน้า Register -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"/>

        <!-- ✅ หน้า Main -->
        <activity
            android:name=".MainActivity"
            android:exported="true"/>

        <!-- ✅ หน้า Dashboard ลูกค้า -->
        <activity
            android:name="mobile.nganchang.chang.customer.CustomerMainActivity"
            android:exported="true"/>

        <!-- ✅ หน้า Dashboard ช่าง -->
        <activity
            android:name="mobile.nganchang.chang.technician.TechnicianMainActivity"
            android:exported="true"/>


    </application>

</manifest>
